<header>
  <div class="header-logo">
    <h3>User management</h3>
  </div>

  <div class="header-nav">
    <a [routerLink]="'home'">HOME</a>
    <div class="dropdown" *ngIf="isLoggedIn">
      <button class="dropbtn">
        DASHBOARD
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a routerLink="dashboard/overview">OVERVIEW</a>
        <a routerLink="dashboard/stats">STATS</a>
        <!-- <a routerLink="dashboard/more">MORE LINK</a> -->
      </div>
    </div>
    <a *ngIf="!isLoggedIn" [routerLink]="'login'">LOGIN</a>
    <a *ngIf="isLoggedIn" (click)="onLogout()">LOGOUT</a>
  </div>
</header>
